// Custom.scss

// $primary: #131722;
$secondary: #2f3240;
$orange: #f7941d;
 $border-color: #131722;

// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 38px;
  width: 127.11px;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.8em;
}

.header {
  background-color: #131722;
  height: 7%;
  max-height: 7%;
  .nav-link {
    color: #fff;
    font-weight: 700;
  }

  .active {
    color: $orange;
  }
  .color-orange {
    color: $orange;
  }
  .demo {
    margin-top: 8px;
    margin-right: 10px;
    border: 1px solid #f7941d;
    color: #fff;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
    border-radius: 5px;
    font-weight: 700;
  }
  .top {
    background: #97037f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    line-height: 20px;
  }

  .upgrade {
    border-radius: 3px;
    background: #f7941d;
  }
}

.color-white {
  color: #fff;
}

.second {
  color: #fff;
}
.color-green{
  color: #0f0;
}
.color1{
  color: #00c5c5;
}
.color2{
color: #ffd900;
}
.color3{
color: #ff25ff;
}
.color-red{
  color: red;
}

 .active {
    color: $orange;
  }
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131722;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f3240;
}
.btn_buy {
  background: green;
  color: #fff;
  cursor: pointer;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  font-weight: 700;
}
.btn_sell {
  background: red;
  color: #fff;
  cursor: pointer;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  font-weight: 700;
}
.sixth {
  position: relative;
}

.content {
  max-height: 93%;
  height: 93%;
  width: 100%;
  padding: 0 !important;
  background-color: $secondary;
  margin: 0;
}
.body {
  padding: 0 !important;
}
.input {
  width: 240px;
  height: 30px;
  border: none;
  border-radius: 4px;
}
.menu {
 background: #131722;;
  list-style: none;

  .active {
    background: #2f3240;
    color: #f7941d;
  }
}
